nav {
    width: 100%;
    background: #0f0f0f;
    height: 80px;
    position: fixed;
    z-index: 1;
}

nav #brand {
    float: left;
    display: block;
    margin-left: 82px;
    line-height: 85px;
    font-weight: bold;
}

nav #brand p {
    margin-top: -4.5vh;
}

@media screen and (max-width: 600px){
    nav #brand p{
        margin-top: -7vh;
    }
}

nav #brand a {
    color: #fff;
    transition: all 0.3s ease-out;
}

nav #brand a:hover {
    text-decoration: none;
}

nav #menu {
    float: left;
    right: 80px;
    position: fixed;
}

nav #menu li {
    padding-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
    line-height: 80px;
    position: relative;
    transition: all 0.3s ease-out;
}

nav #menu li span:nth-child(1){
    font-weight: 700;   
}

nav #menu li a {
    color: #fff;
    margin-right: 2vw;
}

nav #menu li a:hover {
    text-decoration: none;
}

#freelance {
    margin-top: -1vh;
}

a#freelance {
  position: relative;
  top: -5.5vh;
}

@media (min-height: 1200px){
    a#freelance {
          top: -4.5vh;
      }
}

@media (max-width: 1024px) and (min-width: 1023px) {
    nav #menu {
        right: 0px;
    }
}

@media (max-height: 1180px) and (max-width: 820px) and (min-height: 1100px) and (min-width: 750px) {
    #toggle {
        visibility: visible !important;
        opacity: 1 !important;
        margin-top: 6px;
        margin-right: 4px;
  }

  #resize.active {
    visibility: visible !important;
  }

  #resize #menu {
    left: 46% !important;
  }

  .image {
    background: url(../images/projects/about.webp) no-repeat 50% 50%;
    background-size: cover;
  }

  a#freelance {
    top: -5vh !important;
  }

  nav #menu {
    display: none;
  }

  nav #brand {
    margin-left: 50px;
  }
}

@media(min-width: 760px) and (max-width: 770px) {
    nav #brand {
        line-height: 80px !important;
    }   

    .image {
        background: url(../images/projects/about.webp) no-repeat 50% 50%;
        background-size: cover;
    }

    #resize {
        visibility: visible;
    }

    #resize #menu {
        left: 45% !important;
    }
    
}

@media (min-height: 1368px) and (max-height: 1370px) {
    .image {
        background: url(../images/projects/about.webp) no-repeat 50% 50%;
        background-size: cover;
    }

    a#freelance {
        top: -7vh;
    }

    nav #brand {
        margin-top: 4px;
        margin-left: 25px;
        line-height: 75px;
    }
}

@media (min-width: 844px) and (max-width: 932px) and (min-height: 390px) and (max-height: 430px) {
    nav #brand {
        line-height: 50px !important;
    }

    #toggle {
        visibility: visible !important;
        opacity: 1 !important;
        margin-top: 6px;
        margin-right: 4px;
  }

  #resize.active {
    visibility: visible !important;
  }

  #resize #menu {
    left: 46% !important;
  }

  nav #menu {
    visibility: hidden;
  }
}

@media (max-width: 500px) {
    nav #brand {
        line-height: 78px !important;
    }
}

@media (max-width: 920px) and (max-height: 1390px) and (min-width: 900px) and (min-height: 1350px) {
    nav #brand {
        line-height: 78px !important;
    }

    #toggle {
        visibility: visible !important;
        opacity: 1 !important;
        margin-top: 6px;
        margin-right: 4px;
  }

  #resize.active {
    visibility: visible !important;
  }

  #resize #menu {
    left: 46% !important;
  }

  nav #menu {
    visibility: hidden;
  }
}

@media (max-width: 550px) and (min-width: 530px) and (max-height: 730px) and (min-height: 720px) {
    nav #brand {
        line-height: 65px !important;
    }
}

@media (max-width: 750px) and (min-width: 720px) and (max-height: 550px) and (min-height: 530px) {
    nav #brand {
        line-height: 60px !important;
    }
}

@media (max-width: 660px) and (min-width: 650px) and (max-height: 300px) and (min-height: 280px) {
    nav #brand {
        line-height: 45px !important;
    }
}

@media (max-width: 915px) and (min-width: 896px) and (max-height: 420px) and (min-height: 400px) {
    nav #brand {
        line-height: 50px !important;
    }

    #toggle {
        visibility: visible !important;
        opacity: 1 !important;
        margin-top: 6px;
        margin-right: 4px;
  }

  #resize.active {
    visibility: visible !important;
  }

  #resize #menu {
    left: 46% !important;
  }

  nav #menu {
    visibility: hidden;
  }
}

/* If id equals nav change color css  */
.active-page{
    color: #ff0000 !important;
}

#toggle {
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 300;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.close-btn {
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 2;
    cursor: pointer;
    top: -2px;
    line-height: 80px;
}

#resize {
    z-index: 1;
    top: 0px;
    position: fixed;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize #menu {
    height: 90px;
    position: absolute;
    left: 40%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    text-align: center;
    padding: 23px 42px 0px 0px;
    font-size: 30px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 78px;
}

#resize #menu li a {
    color: #fff;
}

#resize #menu li a:hover {
    text-decoration: none;
}

#resize.active {
    visibility: visible;
    opacity: 1;
}

@media(max-width: 768px) {
    #toggle {
          visibility: visible;
          opacity: 1;
          margin-top: 6px;
          margin-right: 4px;
    }

    nav #brand {
          margin-left: 24px;
          line-height: 96px;
    }

    #menu a span {
          font-size: 20px;
          font-weight: 300;
    }

    #resize li span {
          font-weight: bolder;
    }

    nav #menu {
          display: none;
    }
}

@media(min-width: 800px) {
    #resize {
          visibility: hidden !important;
    }
}

@media (max-width: 667px) {
    nav #brand {
        line-height: 55px;
    }
}

@media(max-width: 400px) {
    nav #brand {
        line-height: 75px;
    }
}

/* on hover split */
li span:nth-child(2){
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
    font-weight: 300;
	transition: 0.5s;
	clip-path : polygon(0 0,100% 0,100% 50%,0 50%);
	overflow: hidden;
	}

li:hover span:nth-child(2){
	transform: translateY(-3px);
    left: 0.2vw;
}

li span:nth-child(3){
	position: absolute;
    top: 0;
	left:0;
	color: #fff;
    font-weight: 300;
	transition: 0.5s;
	clip-path : polygon(0 50%,100% 50%, 100% 100%, 0 100%);
	overflow: hidden;
}
	
	li:hover span:nth-child(3){
	transform: translateY(3px);
    left: -0.2vw;
}

nav #menu li:nth-child(2) span:nth-child(1){
    margin-left: 38px;
}

nav #menu li:nth-child(2) span:nth-child(1){
    margin-left: 38px;
}

nav #menu li:nth-child(3) span:nth-child(1){
    margin-left: 0px;
}

nav #menu li:nth-child(4) span:nth-child(1){
    margin-left: 39px;
}

nav #menu li:nth-child(5) span:nth-child(1){
    margin-left: 0px;
}

nav #menu li:nth-child(4) span:nth-child(1) {
    margin-left: 97px;
}

nav #menu li:nth-child(6) span:nth-child(1) {
    margin-left: 38px;
}

nav #menu li:nth-child(7) span:nth-child(1) {
    margin-left: 29px;
}