.col-md-8 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.col-md-4{
    display: none;
}

.image {
    background: url(../images/projects/axis/main.png) no-repeat  50% 70%;
    background-size: cover;
}

.image1 {
    background: url(../images/projects/riverton/main.png) no-repeat  50% 36%;
    background-size: cover;
}

.image2{
  background: url(../images/projects/old_portfolio/old_portfolio.png) no-repeat  50% 36%;
  background-size: cover;
}

.image3{
  background: url(../images/projects/e46_finder/e46-frist-pic.webp) no-repeat  50% 36%;
  background-size: cover;
}

.image4{
  background: url(../images/projects/cherp/cherp.webp) no-repeat  50% 36%;
  background-size: cover;
}

.image4{
  background: url(../images/projects/cherp/cherp.webp) no-repeat  50% 36%;
  background-size: cover;
}

.image5 {
  background: url(../images/projects/code.jpg) no-repeat 50% 36%;
  background-size: cover;
}

.image6 {
  background: url(../images/projects/ard.PNG) no-repeat 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 600px){
  .image{
    background: url(../images/projects/axis/main.png) no-repeat  50% 70%;
    background-size: cover;
  }

  .image1{
    background: url(../images/projects/riverton/main.png) no-repeat  50% 70%;
    background-size: cover;
  }

  .image2{
    background: url(../images/projects/old_portfolio/old_portfolio.jpg) no-repeat  50% 70%;
    background-size: cover;
  }

  .image3{
    background: url(../images/projects/e46_finder/e46-mobile.webp) no-repeat  50% 70%;
    background-size: cover;
  }
}

/* image hover effect */
.container .col-md-8{
  transition: 1s;
}

.container .col-md-8:hover{
  transition: 1s;
}

.image4, .image3, .image2, .image1, .image{
  transition: 1s;
}

.image3:hover, .image:hover{
  height: 520px;
  transition: 1s;
  margin-left: -75px;
  margin-right: -75px;
}

.image4:hover, .image2:hover, .image1:hover{
  transition: 0.8s;
  height: 560px;
}

/* arrow bounce */
p.no-previous{
  display: none;
  pointer-events: none;
}

.arrow-left:hover a, .arrow-right:hover a{
  text-decoration: none;
}

 .arrow-left:hover ion-icon{
  animation: arrow-left 10s ease infinite;
  color: #fff;
}

 .arrow-right:hover ion-icon{
  animation: arrow-right 10s ease infinite;
  color: #fff;
}

@keyframes arrow-left{
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100%{
    transform: translateX(0);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%{
    transform: translateX(-0.6vw);
  }
}

@keyframes arrow-right{
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100%{
    transform: translateX(0);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%{
    transform: translateX(0.6vw);
  }
}